@import '~styles/variables';
@import '~styles/mixins';

.root {
  transition-duration: 0.25s;
  transition-property: color, opacity;

  &.interactive {
    cursor: pointer;
  }

  &.isEllipsisOverflow {
    @include ellipsisOverflow();
  }
}

.color {
  &-white {
    color: $color-white;
  }

  &-black {
    color: $color-black;
  }

  &-darkGray {
    color: $color-dark-gray;
  }

  &-rollingStone {
    color: $color-rolling-stone;
  }

  &-outerSpace {
    color: $color-outer-space;
  }

  &-ebonyClay {
    color: $color-ebony-clay;
  }

  &-tulipTree {
    color: $color-tulip-tree;
  }

  &-baliHai {
    color: $color-bali-hai;
  }
}

.hover {
  &-white {
    @include hover {
      color: $color-white;
    }
  }

  &-black {
    @include hover {
      color: $color-black;
    }
  }

  &-outerSpace {
    @include hover {
      color: $color-outer-space;
    }
  }
}

.textAlign {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.textTransform {
  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-none {
    text-transform: none;
  }
}

.wordBreak {
  &-normal {
    word-break: normal;
  }

  &-breakWord {
    word-break: break-word;
  }

  &-breakAll {
    word-break: break-all;
  }
}

.whiteSpace {
  &-normal {
    white-space: normal;
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-prewrap {
    white-space: pre-wrap;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-default {
    cursor: default;
  }

  &-text {
    cursor: text;
  }

  &-inherit {
    cursor: inherit;
  }
}
