.root {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

.button {
  margin-top: 20px;
  justify-content: center;
  width: 130px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.editForm {
  display: block;
}
