@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 290px;
  height: 220px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px $color-rolling-stone;
  transition: box-shadow 0.3s;

  @include hover {
    box-shadow: 0 0 10px 2px $color-rolling-stone;
  }
}

.icon {
  width: 80px;
  height: 80px;
}
