$color-black: #000;
$color-white: #fff;
$color-alto: #dedede;
$color-gorse: #ffeb3b;
$color-dark-gray: #333;
$color-fruit-salad: #4caf50;
$color-athens-gray: #f9fafb;
$color-outer-space: #313435;
$color-pomegranate: #f44336;
$color-rolling-stone: #72777a;
