@import '~styles/variables';
@import '~styles/mixins';

.root,
.stroke {
  transition-property: fill, stroke;
  transition-duration: $hover-transition-time;
}

.interactive {
  cursor: pointer;
}

.color {
  &-white {
    fill: $color-white;

    .stroke {
      stroke: $color-white;
    }
  }

  &-black {
    fill: $color-black;

    .stroke {
      stroke: $color-black;
    }
  }

  &-bTextGray {
    fill: $color-bText-gray;

    .stroke {
      stroke: $color-bText-gray;
    }
  }

  &-hoverTGray {
    fill: $color-hover-tGray;

    .stroke {
      stroke: $color-hover-tGray;
    }
  }

  &-hoverGray {
    fill: $color-hover-gray;

    .stroke {
      stroke: $color-hover-gray;
    }
  }

  &-base {
    fill: var(--base-color);

    .stroke {
      stroke: var(--base-color);
    }
  }

  &-baseLight {
    fill: var(--base-color-light);

    .stroke {
      stroke: var(--base-color-light);
    }
  }

  &-tTextGray {
    fill: $color-tText-gray;

    .stroke {
      stroke: $color-tText-gray;
    }
  }
}

.hover {
  &-white {
    @include hover {
      fill: $color-white;

      .stroke {
        stroke: $color-white;
      }
    }
  }

  &-black {
    @include hover {
      fill: $color-black;

      .stroke {
        stroke: $color-black;
      }
    }
  }

  &-bTextGray {
    @include hover {
      fill: $color-bText-gray;

      .stroke {
        stroke: $color-bText-gray;
      }
    }
  }

  &-base {
    @include hover {
      fill: var(--base-color);

      .stroke {
        stroke: var(--base-color);
      }
    }
  }
}
