@import '~styles/variables';
@import '~styles/mixins';

.root,
.stroke {
  transition-property: fill, stroke;
  transition-duration: 0.3s;
}

.interactive {
  cursor: pointer;
}

.color {
  &-white {
    fill: $color-white;

    .stroke {
      stroke: $color-white;
    }
  }

  &-black {
    fill: $color-black;

    .stroke {
      stroke: $color-black;
    }
  }
}

.hover {
  &-white {
    @include hover {
      fill: $color-white;

      .stroke {
        stroke: $color-white;
      }
    }
  }

  &-black {
    @include hover {
      fill: $color-black;

      .stroke {
        stroke: $color-black;
      }
    }
  }
}
