@import '~styles/variables';

.root {
  display: block;
  padding: 30px 0 30px 25px;
  background: $color-white;
  box-shadow: 7px 0 20px 0 rgba(0, 0, 0, 0.05);
}

.menuItem {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}
